body{
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    text-align: center;
    background: #f6f6f6;
}

header{
    margin-top: 105px;
}
h1{
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    position: relative;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 15px;
    letter-spacing: 5.5px;
}
h1::after{
    content:"";
    border: 4px #dddbdb solid;
    left: 40%;
    top: 50px;
    width: 45px;
    position: absolute;
}

header p{
    font-size: 16px;
    font-weight: 300;
    width: 550px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 55px;
    line-height: 25px;
}

main{
    width: 1170px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
}

.wrapper{
    display: flexbox;
    flex-direction: column;
    text-align: left;
}

div p:nth-child(2){
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

div p:nth-child(3){
    font-size: 14px;
    font-weight: 300;
    color: #646464;
}

/* hover add start*/

.flip-container{
    perspective: 1000;
    position: relative;
}

.flip-container:hover .flipper{
    transform: rotateY(180deg);
}
    
.flip-container, .front, .back {
    width: 269px;
    height: 268px;
}
.flipper {
    transition: 0.7s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back {
    background: #18b5dc;
    transform: rotateY(180deg);
}

i{
    width: 42px;
    height: 42px;
    background: #5ecbe7;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding-top: 11px;
    box-sizing: border-box;
    font-size: 20px;
    margin-top: 43%;
}

div>p{
    position: absolute;
}

.flip-container{
    height: 330px;
}

.name{
    bottom: 22px;
}

.position{
    bottom: 6px;
}